<% if flash[:success] %>
  <div class="alert-success">
    <p><%= flash[:success] %></p>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="alert-success">
    <p><%= flash[:success] %></p>
  </div>
<% end %>