<div class="left-col">
  <%= render partial: "account_sidenav" %>
</div>

<div class="main-col">

  <h1>On the Way</h1>

  <% if @items.count > 0 %>
    <p class="description">You have ordered the following items and are awaiting shipment.
      Please allow for up to 3 days for the item to be shipped before creating a transaction dispute.</p>
    <% @items.each do |item| %>
      <%= render partial: 'thumbnail', :locals => { :item => item } %>
    <% end %>
  <% else %>
    <p class="description">You have not waiting for any items to arrive.</p>
  <% end %>

</div>