<div class="left-col">
  <%= render partial: "dashboard/account_sidenav" %>
</div>

<div class="main-col">
  <h1>Hidden</h1>
  <p class="description">You have removed these items from public listings. If you would like to re-list an item, click on that item.</p>
  <%= render partial: "dashboard/items_table" %>
</div>