<div class="left-col">
  <%= render partial: "account_sidenav" %>
</div>

<div class="main-col">

  <h1>Received</h1>

  <% if @items.count > 0 %>
    <p class="description">You have purchased and received these items. Choose an item to view the invoice.</p>
    <% @items.each do |item| %>
      <%= render partial: 'thumbnail', :locals => { :item => item } %>
    <% end %>
  <% else %>
    <p class="description">You have not received any purchased items.</p>
  <% end %>

</div>