<div class="left-col">
  <%= render partial: "account_sidenav" %>
</div>

<div class="main-col">
  <h1>Leave Feedback</h1>

  <% if @orders.count > 0 %>
    <% @orders.each do |order| %>
      <%= render partial: 'thumbnail', :locals => { :item => order.item } %>
    <% end %>
  <% else %>
    <p class="description">You have no orders awaiting your feedback.</p>
  <% end %>

</div>