<div class="left-col">
  <%= render partial: "account_sidenav" %>
</div>

<div class="main-col">

  <h1>Gone</h1>

  <% if @items.count > 0 %>
    <p class="description">You have shipped these items.</p>
    <% @items.each do |item| %>
      <%= render partial: 'thumbnail', :locals => { :item => item } %>
    <% end %>
  <% else %>
    <p class="description">You have not shipped any items.</p>
  <% end %>

</div>