<div class="whole-width">
  <h2>Discover new fashion and people.</h2>

  <div id="search">
      <input id="search-box" type="text" name="query" value="<%= params[:query] %>">
      <button id="search-button">Search</button>
  </div>
  
  <div id="content" class="results">

  </div>

</div>

<script>
  $(document).ready(function(){
    $(function() {
      $("#search-box").focus();
    });

    $('#search-box').keypress(function (e) {
      if (e.which == 13) {
        $("#content").html('');
        $('#search-button').trigger("click");
        return false;    //<---- Add this line
      }
    });

    $("#search-button").click(function(){
      $("#content").hide();
      $.ajax({
        url: "/api/discover?query=" + encodeURIComponent($("#search-box").val()),
        method: "GET",
        dataType: "JSON"
      }).success(function(json){
        renderSearchResult(json);
      }).error(function(response){
        alert("Error! " + response);
      });
    });

    function renderSearchResult(json){
      var htmlString = "";

      for(var i=0; i<json.length; i++){
        htmlString = "";

        if(json[i].searchable_type == "Item"){

          htmlString += "<a href='/items/" + json[i].searchable_id + "' class='result-box'>";
          htmlString += "<div class='result-image-box'>";
          htmlString += "<img src='" + json[i].image_url + "'>";
          htmlString += "</div>";
          htmlString += "<div class='result-text-box'>";
          htmlString += "<p class='title'>" + json[i].title +"</p>";
          htmlString += "<p>$" + json[i].sale_price + "</p></div></a>"

        } else {

          htmlString += "<a href='users/" + json[i].searchable_id + "' class='result-box'>";
          htmlString += "<div class='result-image-box'>";
          htmlString += "<img src='" + json[i].image_url + "'></div><div class='result-text-box'>";
          htmlString += "<p class='title'>" + json[i].header_text + "</p>";
          htmlString += "<p>" + json[i].subtitle_text + "</p></div></a>";
        }

        $("#content").append(htmlString);
      }

      if(json.length == 0){
        $("#content").append("<p>No results.</p>");
      }
      $("#content").show();
    }
  });
</script>
