<div class="left-col">
  <%= render partial: 'dashboard/feed_nav' %>
</div>

<div class="main-col">
  <h1>Latest Items - All <small>(<%= pluralize(@items.count, 'Items') %>)</small></h1>
  <%= render partial: "items_table" %>
</div>