<div class="left-col">
  <ul>
    <li>All</li>
    <li><%= link_to "Sale", feed_sale_url %></li>
    <li><%= link_to "Trade", feed_trade_url %></li>
  </ul>
</div>

<div class="main-col">
  <h1>Feed <small>(<%= pluralize(@items.count, 'Items') %>)</small></h1>

  <%= render partial: "items_table" %>
</div>