<form>
  <input type="hidden" name="comment[item_id]" value="<%= item.escape("id") %>">

  <label for="content">Your Comment</label>
  <textarea id="content" name="comment[content]"></textarea>

  <input type="submit" value="Add Comment">
</form>

<div class="preview">

</div>