<h1>List New Item</h1>

<form enctype="multipart/form-data">

  <!--<label for="photo">Photo</label><br>
  <input type="file" name="item[photo]" id="photo"><br><br>-->

  <label for="title">Title</label><br>
  <input type="text" name="item[title]" id="title"><br><br>

  <label for="category">Category</label><br>
  <select id="category" name="item[category]">
    <option>Styling Products</option>
    <option>Armwear</option>
    <option>Belts</option>
    <option>Coats</option>
    <option>Footwear</option>
    <option>Headgear</option>
    <option>Jackets</option>
    <option>Neckwear</option>
    <option>Ponchos</option>
    <option>Robes and Cloaks</option>
    <option>Sports</option>
    <option>Suits</option>
    <option>Tops</option>
    <option>Trousers and Shorts</option>
    <option>Undergarments</option>
  </select><br><br>

  <label for="brand">Brand</label><br>
  <input type="text" name="item[brand]" id="brand"><br><br>

  <label for="condition">Condition</label><br>
  <select id="condition" name="item[condition">
    <option>New w/ Tags</option>
    <option>Never Worn</option>
    <option>Excellent</option>
    <option>Good</option>
  </select><br><br>

  <label for="original_price">Original Price</label><br>
  <input type="text" name="item[original_price]" id="original_price"><br><br>

  <label for="description">Description</label><br>
  <textarea id="description" name="item[description]"></textarea><br><br>

  <label for="sale_price">Sale Price</label><br>
  <input type="text" id="sale_price" name="item[sale_price]"><br><br>

  <label for="trade_price">Trade Price</label><br>
  <input type="text" id="trade_price" name="item[trade_price]"><br><br>

  <label for="allow_pickup">Allow Pickup?</label>
  <input type="checkbox" id="allow_pickup" name="item[allow_pickup]"><br><br>

  <label for="weight">Weight</label><br>
  <input type="text" id="weight" name="item[weight]"><br><br>

  <label for="size">Size</label><br>
  <input type="text" id="size" name="item[size]"><br><br>

  <input type="submit" value="List Item">
</form>