<div class="whole-width">
  <h1><%= item.get("title") %></h1>

  <p>Powered by Backbone JS</p>


  <h3>Comments</h3>

  <ul class="comments">
  </ul>

  <div class="comment-new">
    <p>:)</p>
    <!-- Comments will go here -->
  </div>

  <a href="#/">Back to Index</a>
</div>