<% rating = 0 %>
<% count = 0 %>
<% @user.feedback_received.each do |feedback| %>
  <% rating += feedback.rating %>
  <% count += 1 %>
<% end %>
<% if count > 0 %>
  <% rating /= count %>
  <p>
    <% (1..rating.floor).each do %>
      ★
    <% end %>
  </p>
<% else %>
  <p>No feedback.</p>
<% end %>