<% rating = 0 %>
<% count = 0 %>
<% @shipped_orders.each do |order| %>
  <% if order.feedback %>
    <% rating += order.feedback.rating %>
    <% count += 1 %>
  <% end %>
<% end %>
<% if count > 0 %>
  <% rating /= count %>
  <p>
    <% (1..rating.floor).each do %>
      ★
    <% end %>
  </p>
<% else %>
  <p>No feedback.</p>
<% end %>