<div class="left-col">
  <ul>
    <li>Available</li>
    <li>Sold</li>
    <li>Traded</li>
  </ul>
</div>

<div class="main-col">
  <h1><%= @user.username %> <small>Member since <%= @user.created_at %></small></h1>

  <%= image_tag @user.avatar.url(:medium) %>

  <table border="1">
    <thead>
    <tr>
      <th>Transactions</th>
      <th>Followers</th>
      <th>Following</th>
      <th>Avg. Ship Time</th>
      <th>Last Seen</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    </tbody>
  </table>
</div>