<div class="whole-width">
  <h3 class="success">Your order was successful.</h3>

  <h4 class="success">The <%= @order.item.title %><br> will be shipped soon.</h4>

  <%= render partial: "dashboard/thumbnail", :locals => { :item => @order.item } %>

  <p class="info">You may track the shipping status on<br> your account page <%= link_to "here", account_on_the_way_url %>.</p>
</div>