<div class="whole-width">
  <h1>List Item</h1>

  <form action="<%= user_items_url(current_user.id) %>" method="POST" enctype="multipart/form-data">
    <%= render partial: "form" %>
  </form>

</div>