/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, p, h1, h2, h3, a, img, div, table, hr, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

li {
  list-style: none;
}

body {
  color: black;
  font-family: "Helvetica", sans-serif;
}

.bottom-bar {

}

img.polaroid {
  border: 10px solid #fbfbfb;
  box-shadow: 1px 1px 1px gray;
}

nav {
  border-bottom: 3px solid #eee;
}

nav h1 {
  font-size: 30px;
  text-align: center;
  padding: 10px;
}

nav ul {
  max-width: 510px;
  margin: auto;
}

nav ul:after {
  content: "";
  clear: both;
  display: block;
}

nav li {
  float: left;
}

nav li a {
  padding: 5px 15px 5px 15px;
  display: inline-block;
}

.container {
  width: 980px;
//  background-color: #eee;
  margin: auto;
}

.left-col {
  float: left;
  width: 150px;
  padding: 5px;
}

.left-col li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.left-col li ul {
  padding-left: 5px;
  margin-top:0;
}

.left-col > ul {
  padding-right: 10px;
}

.left-col ul {
  margin-top: 15px;
  border-right: 1px solid #eee;
}

.left-col ul ul {
  border-right: 0px solid #eee;
}

.main-col {
  float: right;
  width: 780px;
  padding: 20px;
}

.main-col p.description {
  margin-bottom: 20px;
  font-weight: lighter;
}

h1 small {
  font-weight: lighter;
}

.main-col h1 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}

.main-col h1 small {
  color: lightgrey;
}

.left-col h3 {
  font-weight: bold;
}

.item-box {
  //background-color: pink;
}

.item-box:after {
  content: "";
  display: block;
  clear: both;
}

.main-col {
  .profile-left {
    width: 150px;
    //background-color: pink;
    float: left;
  }

  .profile-right {
    width: 630px;
    float: right;

    form {
      margin-top: -50px;
    }
  }
}

.item-left {
  //background-color: #eee;
  width: 250px;
  float: left;
  text-align: center;

  img {
    max-width: 250px;
    display: block;
    margin: auto;
  }
}

.left-col {
  .thumbnail {
    width: 100%;
  }
}

.item-right {
  //background-color: orange;
  float: right;
  width: 530px;
}

.item-top {
  padding: 20px;
}

.item-top h3 {
  font-size: 36px;
}

.item-bottom {
  padding: 20px;
}

.item-top img {
  border-radius: 100px;
  width: 75px;
  border: 3px solid #eeeeee;
  box-shadow: 1px 1px 1px gray;
}

.item-top .item-header {
  //background-color: yellow;
  width: 400px;
  padding-top: 13px;
}

.item-top:after {
  content: "";
  display: block;
  clear: both;
}

.item-top .item-img {
  float: left;
  //background-color: blue;
  width: 85px;
  text-align: center;
}

.item-header {
  float: right;
}

.item-bottom {
  //background-color: lime;
}

a.buy-button, a.like-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;

  display: inline-block;
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: #1abc9c;
  border-bottom: 5px solid #16a085;
  border-radius: 5px;
}

a.like-button {
  background-color: #3498db;
  border-bottom: 5px solid #2980b9;
}

a.like-button:hover {
  background-color: #339fff;
  border-bottom: 5px solid #277ac3;
}

a.buy-button:hover {
  background-color: #2fdbab;
  border-bottom: 5px solid #28ba91;
}

.jumbotron {
  width: 100%;
  //background-color: blue;
  padding: 20px;
  height: 250px;
}

.jumbotron:after {
  content: "";
  display: block;
  clear: both;
}

.jumbotron #jumbo-left {
  float: left;
  //background-color: green;
  width: 560px;
  padding: 20px;
}

#jumbo-left h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

#jumbo-left h3 {
  font-size: 28px;
}

.jumbotron #jumbo-right {
  float: right;
  //background-color: purple;
  width: 340px;
  padding: 20px;
}

.feature-bar {
  background-color: #eee;
  padding: 10px;
}

.feature-bar h1 {
  font-size: 24px;
  font-weight: bold;
}

.feature-bar:after {
  content: "";
  display: block;
  clear: both;
}

.col-1 {
  float: left;
  width: 287px;
  //background-color: yellow;
  padding: 20px;
}

.right {
  float: right;
  width: 652px;
}

.right .col-2 {
  float: left;
  width: 286px;
  //background-color: orange;
  padding: 20px;
}

.right .col-3 {
  float: right;
  width: 286px;
  //background-color: lime;
  padding: 20px;
}

.testimonials {
  //background-color: #eee;
  height: 300px;
  padding: 100px;
}

.left-testimonials {
  width: 490px;
  //background-color: brown;
  float: left;
}

.right-testimonials {
  width: 490px;
  //background-color: tan;
  float: right;
}

.testimonial-box {
  //background-color: #eee;
  width: 490px;
  margin-bottom: 50px;
}

.testimonial-box .img-holder {
  float: left;
  width: 128px;
}

.testimonial-box:after {
  content: "";
  display: block;
  clear: both;
}

.testimonial-box .text-holder {
  padding: 20px;
  width: 322px;
  float: right;
  //background-color: pink;
}

.testimonial-box img {
  border-radius: 100px;
  width: 117px;
  border: 5px solid lightgray;
}

.testimonial-box p {
  font-weight: lighter;
  font-size: 20px;
}

.testimonial-box p:before {
  content: "\"";
}

.testimonial-box p:after {
  content: "\"";
}

.testimonial-box small {
  color: darkgray;
  font-size: 14px;
  float: right;
  margin-top: 20px;
}

/* Thumbnail */

.thumbnail {
  display: block;
  width: 180px;
  border: 1px solid #eee;
  margin-right: 13px;
  float: left;
  margin-bottom: 13px;
  color: #3a3a3a;
}

.thumbnail img {
  height: 100%;
  width: auto;
  text-align: center;
}

.thumbnail .photo-box {
  text-align: center;
  height: 150px;
  border-bottom: 1px solid #eee;
}

.thumbnail .description-box {
  width: 170px;
  padding: 5px;
}

.description-box .avatar-box {
  width: 40px;
  height: 40px;
  background-color: blue;
  float: left;
}

.avatar-box img {
  border-radius: 20px;
}

.description-box .detail-box {
  float: right;
  width: 120px;
  padding-left: 10px;
  font-weight: lighter;
  font-size: 14px;
}

.detail-box .price {
  font-weight: bold;
}

.description-box:after {
  content: "";
  display: block;
  clear: both;
}

/* Forms */

input {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%
}

select {
  width: 100%;
  font-size: 24px;
  height: 30px;
}

label {
  font-weight: bold;
}

textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  font-size: 18px;
}

#comments {
  //background-color: pink;

  margin-top: 20px;

  img {
    border-radius: 100px;
    width: 60px;
    border: 3px solid #eee;
    box-shadow: 1px 1px 1px gray;
  }

  .comment-photo-box {
    padding: 5px;
    //background-color: blue;
    width: 68px;
    float: left;
  }

  .comment-text-box {
    //background-color: yellow;
    float: right;
    width: 380px;
  }

  .comment-author {
    color: gray;
  }

  .comment-text {
    padding: 5px;
    font-size: 18px;
  }

  .comment-time {
    color: #aaa;
    text-align: right;
    font-size: 10px;
  }

  li {
    padding: 10px;
    border: 1px solid #eee;
    margin-bottom: 20px;
  }

  li:after {
    content: "";
    display: block;
    clear: both;
  }
}