/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, p, h1, h2, h3, h4, a, img, div, table, button, hr, ul, li, table, td, th, tr, thead, tbody {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-weight: lighter;
}

table {
  border-spacing: 0
}

li {
  list-style: none;
}

a:hover {
  color: teal;
}

body {
  color: black;
  font-family: "Helvetica", sans-serif;
}

.bottom-bar {
  //background-color: #eee;
}

img.polaroid {
  border: 10px solid #fbfbfb;
  box-shadow: 1px 1px 1px gray;
}

nav {
  //background-color: #222222;
  border-bottom: 3px solid #eee;
  font-weight: lighter;
  margin-bottom: 40px;
}


.logo-bar {
  height: 50px;
}

nav img {
  display: block;
  margin: auto;
  padding: 10px;
}

nav ul {
  //background-color: yellow;
  max-width: 514px;
  margin: auto;
}

.left-col a {
  font-weight: lighter;
}

.left-col .thumbnail img {
  height: 100%;
  width: auto;
}

.left-col .thumbnail {
  overflow: hidden;
  margin-top: 20px;
}

nav ul:after {
  content: "";
  clear: both;
  display: block;
}

nav li {
  float: left;
}

nav li a {
  padding: 5px 15px 5px 15px;
  display: inline-block;
}

.container {
  width: 980px;
//  background-color: #eee;
  margin: auto;
}

.left-col {
  float: left;
  width: 150px;
  padding: 5px;
}

.left-col li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.left-col li ul {
  padding-left: 5px;
  margin-top:0;
}

.left-col > ul {
  padding-right: 10px;
}

.left-col ul {
  margin-top: 15px;
  border-right: 1px solid #eee;
}

.left-col ul ul {
  border-right: 0px solid #eee;
}

.main-col {
  float: right;
  width: 780px;
  padding: 20px;
}

.main-col p.description {
  margin-bottom: 20px;
  font-weight: lighter;
}

h1 small {
  font-weight: lighter;
}

.main-col h1, .whole-width h1 {
  font-weight: lighter;
  font-size: 24px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}

.main-col h1 small {
  color: lightgrey;
}

.left-col h3 {
  font-weight: normal;
}

.left-col img {
  width: 100%;
}

.item-box {
  //background-color: pink;
}

.item-box:after {
  content: "";
  display: block;
  clear: both;
}

.main-col {
  .profile-left {
    width: 150px;
    //background-color: pink;
    float: left;
  }

  .profile-right {
    width: 630px;
    float: right;

    form {
      margin-top: -50px;
    }
  }
}

nav a {
  text-decoration: none;
  color: #afb6bb;
}

.left-col a {
  text-decoration: none;
  color: #afb6bb;
}

.notice {
  background-color: #fbf6dc;
  border: 1px solid #f8e6c1;
  padding: 20px;
  color: #765b2d;
  border-radius: 5px;

  h3 {
    float: left;
  }

  a {
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    color: #765b2d;
  }
}

.notice:after {
  content: "";
  display: block;
  clear: both;
}

.item-left {
  //background-color: #eee;
  width: 250px;
  float: left;
  text-align: center;

  img {
    max-width: 250px;
    display: block;
    margin: auto;
  }
}

.left-col {
  .thumbnail {
    width: 100%;
  }
}

.item-right {
  //background-color: orange;
  float: right;
  width: 530px;
}

.item-top {
  padding: 20px;
  padding-bottom: 0px;
}

.item-top h3 {
  font-size: 36px;
}

.item-bottom {
  padding: 20px;
}

.item-top img {
  border-radius: 100px;
  width: 75px;
  border: 3px solid #eeeeee;
  box-shadow: 1px 1px 1px gray;
}

.item-top .item-header {
  //background-color: yellow;
  width: 400px;
  padding-top: 13px;
}

.item-top:after {
  content: "";
  display: block;
  clear: both;
}

.item-top .item-img {
  float: left;
  //background-color: blue;
  width: 85px;
  text-align: center;
}

.item-header {
  float: right;
}

.item-bottom {
  //background-color: lime;
  table {
    margin-bottom: 40px;
  }
}

a.buy-button, a.like-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;

  display: inline-block;
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: #1abc9c;
  border-bottom: 5px solid #16a085;
  border-radius: 5px;
}

a.like-button {
  background-color: #3498db;
  border-bottom: 5px solid #2980b9;
}

a.like-button:hover {
  background-color: #339fff;
  border-bottom: 5px solid #277ac3;
}

a.buy-button:hover {
  background-color: #2fdbab;
  border-bottom: 5px solid #28ba91;
}

.jumbotron {
  width: 100%;
  //background-color: blue;
  padding: 20px;
  height: 250px;
}

.jumbotron:after {
  content: "";
  display: block;
  clear: both;
}

.jumbotron #jumbo-left {
  float: left;
  //background-color: green;
  width: 560px;
  padding: 20px;
}

#jumbo-left h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

#jumbo-left h3 {
  font-size: 28px;
}

.jumbotron #jumbo-right {
  float: right;
  //background-color: purple;
  width: 340px;
  padding: 20px;
}

.jumbotron #jumbo-right a {
  padding-top: 20px;
  float: left;
  color: gray;
}

.feature-bar {
  background-color: #eee;
  padding: 10px;
  margin-bottom: 20px;
}

#stripe_error {
  display: none;
  border: 1px solid red;
  background-color: pink;
  padding: 10px;
  margin-bottom: 20px;
  color: darkred;
  border-radius: 5px;
}

.feature-bar:after {
  content: "";
  display: block;
  clear: both;
}

.feature-bar h1 {
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.feature-bar .center-text {
  text-align: center;
}

.col-1 {
  float: left;
  width: 287px;
  //background-color: yellow;
  padding: 20px;
}

.right {
  float: right;
  width: 652px;
}

.right .col-2 {
  float: left;
  width: 286px;
  //background-color: orange;
  padding: 20px;
}

.right .col-3 {
  float: right;
  width: 286px;
  //background-color: lime;
  padding: 20px;
}

.testimonials {
  //background-color: #eee;
  height: 300px;
  padding: 60px;
  padding-top: 20px;
}

.left-testimonials {
  width: 490px;
  //background-color: brown;
  float: left;
}

.group {
  content: "";
  display: block;
  clear: both;
}

.right-testimonials {
  width: 490px;
  //background-color: tan;
  float: right;
}

.testimonial-box {
  //background-color: #eee;
  width: 490px;
  margin-top: 20px;
}

.testimonial-box .img-holder {
  float: left;
  width: 128px;
}

.testimonial-box:after {
  content: "";
  display: block;
  clear: both;
}

.testimonial-box .text-holder {
  padding: 20px;
  width: 322px;
  float: right;
  //background-color: pink;
}

.testimonial-box img {
  border-radius: 100px;
  width: 117px;
  border: 5px solid lightgray;
}

.testimonial-box p {
  font-weight: lighter;
  font-size: 20px;
}

.testimonial-box p:before {
  content: "\"";
}

.testimonial-box p:after {
  content: "\"";
}

.testimonial-box small {
  color: darkgray;
  font-size: 14px;
  float: right;
  margin-top: 20px;
}

/* Thumbnail */

.thumbnail {
  display: block;
  width: 180px;
  border: 1px solid #ddd;
  margin-right: 13px;
  float: left;
  margin-bottom: 13px;
  color: #3a3a3a;
  overflow: hidden;
  box-shadow: 0px 3px 5px #ddd;
}

.thumbnail img {
  height: 100%;
  width: auto;
  text-align: center;
}

.thumbnail .photo-box {
  text-align: center;
  height: 150px;
  border-bottom: 1px solid #eee;
}

.thumbnail .description-box {
  width: 170px;
  padding: 5px;
}

.description-box .avatar-box {
  width: 40px;
  height: 40px;
  //background-color: blue;
  float: left;
}

.avatar-box img {
  border-radius: 20px;
}

.description-box .detail-box {
  float: right;
  width: 120px;
  padding-left: 10px;
  font-weight: lighter;
  font-size: 14px;
}

.detail-box .price {
  font-weight: bold;
}

.description-box:after {
  content: "";
  display: block;
  clear: both;
}

/* Forms */

input {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%
}

select {
  width: 100%;
  font-size: 16px;
  padding: 5px;
}

label {
  font-weight: bold;
}

textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  font-size: 18px;
  padding: 10px;
}

#comments {
  //background-color: pink;

  margin-top: 20px;

  img {
    border-radius: 100px;
    width: 60px;
    border: 3px solid #eee;
    box-shadow: 1px 1px 1px gray;
  }

  .comment-photo-box {
    padding: 5px;
    //background-color: blue;
    width: 68px;
    float: left;
  }

  .comment-text-box {
    //background-color: yellow;
    float: right;
    width: 380px;
  }

  .comment-author {
    color: gray;
  }

  .comment-text {
    padding: 5px;
    font-size: 18px;
  }

  .comment-time {
    color: #aaa;
    text-align: right;
    font-size: 10px;
  }

  li {
    padding: 10px;
    border: 1px solid #eee;
    margin-bottom: 20px;
  }

  li:after {
    content: "";
    display: block;
    clear: both;
  }
}

.whole-width {
  //background-color: pink;
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;

  h3.success {
    font-weight: lighter;
    font-size: 34px;
    text-align: center;
    margin-top: 20px;
    color: #31642b;
  }

  h4.success {
    margin-top:40px;
    text-align: center;
    color: #ccc;
    font-size: 26px;
    font-weight: lighter;
  }

//  .thumbnail {
//    float: none;
//    display: block;
//    margin: auto;
//    margin-top: 20px;
//  }

  p.info {
    margin-top: 80px;
    text-align: center;
    line-height: 1.6;
    color: #ccc;
    font-weight: lighter;

    a {
      color: #bbb;
    }
  }
}

th {
  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
  border-right: 1px solid #ccc;
  padding: 10px;
}

td {
  border-bottom: 1px solid #eee;
  padding: 10px;
  font-weight: lighter;
}

.late-shipping {
  color: red;
  font-weight: bold;
}

.alert-error {
  border: 1px solid red;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: pink;
  color: darkred;

  li {
    list-style: circle;
    margin-left: 20px;
    padding: 5px;
  }
}

.alert-success {
  border: 1px solid green;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: lightgreen;
  color: darkgreen;
}

.receipt {
  margin: auto;
  font-size: 18px;
  font-weight: lighter;
  border: 1px solid #eee;

  box-shadow: 1px 1px 1px #eee;

  p {
    padding: 20px;
  }

  .receipt-row {
    //border-bottom: 1px solid #eee;
  }

  .receipt-left {
    background-color: #eee;
    float: left;
    width: 200px;
    border-bottom: 1px solid #ddd;

    p {
      text-align: right;
      color: darkgray;
    }
  }

  .receipt-right {
    float: right;
    width: 578px;
    border-bottom: 1px solid #eee;

    p {
      color: gray;
    }
  }
}

.receipt:after {
  content: "";
  display: block;
  clear: both;
}

.receipt-row:after {
  content: "";
  display: block;
  clear: both;
}

#search {

  margin-bottom: 20px;
  width: 522px;
  margin: auto;

  #search-box {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 400px;
    height: 38px;
    padding: 0px;
    float: left;
    padding-left: 20px;
    border: 1px solid #ccc;
    color: darkgray;
    outline: none;
    font-size: 18px;
    font-weight: lighter;
  }

  #search-button {
    margin: auto;
    float: left;
    width: 100px;
    height: 40px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 18px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-left: none;
    outline: none;
    cursor: pointer;
    color: gray;
    font-weight: lighter;
  }

  #search-button:hover {
    color: teal;
    background-color: #efefef;
  }

  #search-button:active {
    background-color: #dcdcdc;
  }

  ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ccc;
    font-weight: lighter;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ccc;
    opacity:  1;
    font-weight: lighter;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ccc;
    opacity:  1;
    font-weight: lighter;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ccc;
    font-weight: lighter;
  }

}

#search:after {
  content: "";
  display: block;
  clear: both;
}

.whole-width, .main-col {
  h2 {
    font-size: 26px;
    font-weight: lighter;
    padding: 50px;
    color: #555;
    text-align: center;
  }
}

.result-box {
  display: block;
  width: 500px;
  border-bottom: 1px solid #ddd;
  margin: auto;
  height: 87px;

  .title {
    font-size: 28px;
    font-weight: lighter;
    text-align: left;
    color: #555;
  }

  .result-image-box {
    border-right: 1px solid #ddd;
    width: 87px;
    float: left;
    overflow: hidden;

    img {
      display: block;
      height: 77px;
      width: auto;
      margin: auto;
      padding: 5px;
      text-align: center;
    }
  }

  .result-text-box {
    padding: 5px;
    width: 402px;
    float: right;
    color: #555;
  }

  .context {
    margin-top: 10px;
    float: right;
    color: #bbb;
  }
}

.results {
  border: 1px solid #ddd;
  width: 500px;
  margin: auto;
  margin-top: 50px;
  overflow: hidden;
  border-bottom: none;
  box-shadow: 0px 1px 3px #eee;
}

.result-box:hover {
  color: teal;
  background-color: #f2fffc;

  img {
    opacity: 0.9;
  }

  .title {
    color: teal;
  }
}

.result-box:after {
  content: "";
  display: block;
  clear: both;
}

.whole-width {
  h2#full_name {
    text-align: center;
    font-weight: lighter;
    color: #555;
    margin: 0;
    padding: 0;
    margin-top: 20px;
  }

  h3#username {
    text-align: center;
    font-weight: lighter;
    color: #aaa;
    margin-bottom: 40px;
  }
}

.user-profile-table {
  width: 100%;
  margin: auto;
  text-align: center;
  border: 1px solid #eee;
  border-right: none;
  border-bottom: none;
  margin-bottom: 20px;

  td {
    width: 207px;
    font-size: 50px;
    border-right: 1px solid #eee;

    img {
      width: 112px;
    }
  }

  .first-col {
    width: 159px; border-right: 1px solid #eee;
  }

  #detail {
    td {
      font-size: 16px;
    }
  }
}

.follow-button {
  float: right;
  border-radius: 5px;
  color: #555;
  border-top: 1px solid #f1f1f1;
  border-left: 1px solid #f1f1f1;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: #eee;
  text-align: center;
  display: block;
  width: 144px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  padding: 5px;
  font-size: 16px;
}

button.follow-button-disabled {
  float: right;
  border-radius: 5px;
  color: #AAA;
  border: 1px solid #ccc;
  background-color: #ddd;
  text-align: center;
  display: block;
  width: 144px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  padding: 5px;
  font-size: 16px;
  cursor: default;
}

.header-button-bar {
  margin-bottom: 20px;

  border-bottom: 1px solid #eee;

  h1 {
    float: left;
    margin-bottom: 0;
    border-bottom: none;
  }

  button {
    float: right;
    margin: 0;
    padding: 3px;
  }
}

.header-button-bar:after {
  background-color: red;
  content: "";
  display: block;
  clear: both;
}

.bio-box {
  //background-color: #eee;
  font-weight: lighter;
  border: 1px solid #eee;
  color: #555;
  padding: 20px;
  margin-bottom: 20px;
}

.wrapper:after {
  content: "";
  display: block;
  clear: both;
}

footer {
  margin-top: 30px;
  margin-bottom: 50px;

  ul {
    border-top: 1px solid #eee;
    display: block;
    width: 388px;
    //background-color: yellow;
    margin: auto;
  }

  ul:after {
    content: "";
    display: block;
    clear: both;
  }

  li {
    //background-color: pink;
    color: #888;
    float: left;
    padding: 20px;
  }

  img {
    width: 75px;
    height: auto;
    display: block;
    margin: auto;
    opacity: 0.75;
  }
}